<% include ../partials/boilerplate %>

<form method='POST' action='/todos/<%= id %>?_method=PUT'>
  <input name='title' type='text' value='<%= todo.title %>' />
  <input name='category' type='text' value='<%= todo.category %>' />
  <textarea name='description' class='form' value='<%= todo.description %>'></textarea>
  <input type="radio" name="status" value="to do"> To Do<br>
  <input type="radio" name="status" value="done"> Done<br>
  <input type='submit' value='Save' />
</form>

</body>
</html>