<% include ../partials/boilerplate %>

<div class='frame'>
  <form method='POST' action='/todos'>
    <input name='title' type='text' class='form' placeholder='title' />
    <input name='category' type='text' class='form' placeholder='category' />
    <textarea name='description' class='form' placeholder='Give a description here...'></textarea>
    <input type='submit' value='Add It' />
  </form>
</div>

</body>
</html>